= render "layouts/header"
- breadcrumb :logout, @user
= render "layouts/breadcrumbs"
.show-users-wrapper
  .show-users-wrapper__center
    = render "layouts/content"
    .show-users-wrapper__center__contain-content
      .show-users-wrapper__center__contain-content__item-list
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'logout-btn'
= render "layouts/footer"