.single-container
  %header.single-header
  .single-main
    .login-panel
      .login-panel__no-account
        %p
          アカウントをお持ちでない方はこちら
        .acount-new
          = link_to new_user_registration_path, class: "btn-new"do
            新規会員登録

      .login-form-inner
        
        .login-form-inner__google
          
          = link_to "#", class: "btn btn-google" do
            = icon('fab', 'google',  class: "contents__btn--icon") 
            %span<>
              Googleでログイン

        .login-form-inner__facebook
          = link_to "#", class: "btn btn-facebook" do
            = icon('fab', 'facebook-square',  class: "contents__btn--icon") 
            %span<>
              Facebook


        .login-form-inner__apple
          = link_to "#", class: "btn btn-apple" do
            = icon('fab', 'apple',  class: "contents__btn--icon") 
            %span<>
              Apple

        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'メールアドレス', class: 'input-default'
          .field
            
            = f.password_field :password, autocomplete: "current-password", placeholder: 'パスワード', class: 'input-default'
          - if devise_mapping.rememberable?
            .field
              = f.check_box :remember_me
              = f.label :remember_me


          .single-content
            = f.submit 'ログイン', class: 'single-inner'

            = link_to 'パスワードをお忘れの方', class: 'btn btn-pass'


  %footer.single-footer