.items-link
  = link_to '#', class: "items-link--page" do
    sample-marketをもっとみる
%aside.appBanner
  .inner
    .inner__title
      誰でも簡単、人生を変えるフリマアプリ
    .inner__text
      今すぐ無料ダウンロード
    .inner__icon
      = link_to '#' do
        = image_tag "/material/download-on-app-store-png-open-2000.png", class: "abtn"
      = link_to '#' do
        = image_tag "/material/google-play-badge.png", class: "gbtn"