.items-main
  .items-main__name
    = @item.name
  .items-main__description

  .items-main__image
    - @item.images.each do | image |
      = image_tag image.url.url

  %table.items-main__detail
    %tbody
      %tr
        %th
          出品者
        %td
          = @item.user.nickname
      %tr
        %th
          カテゴリー
        %td
          = @item.category.name

      %tr
        %th
          ブランド
        %td
          = @item.brand.name

      %tr
        %th
          商品の状態
        %td
          = @item.status
      %tr
        %th
          配送料の負担
        %td
          - if @item.cost == 1
            着払い

          - else
            出品者負担
          
      %tr
        %th
          配送元地域
        %td
          = @item.prefecture.name
      %tr
        %th
          発送日の目安
        %td
          = @item.days
          日
  .items-main__select                                    
  .items-main__price
    ¥
    %span.items-main__price--realmoney
      = @item.price
    %span.items-main__price--tax
      (税込み)
    %span.items-main__price--shipping-fee
      送料込み

- if user_signed_in? && current_user.id == @item.user_id

- else
  .items-main__buy--btn
    = link_to "購入画面に進む", buy_item_path(@item.id), class: "buy-box" 
    .items-main__description-inner
      = @item.description
    .items-main__button
      .items-main__button--left
        .items-main__button--left--left
          %i.fas.fa-heart
          いいね！
        .items-main__button--left--right  
          不適切な商品報告
      .items-main__button--right
        安心・安全への取り組み

- if user_signed_in? && current_user.id == @item.user_id
  = link_to "編集", edit_item_path , class: "edit-box"
  = link_to item_path , method: :delete , class:"items-main__button__destroy-btm" do
      削除する
