= render partial: 'items/items-header'
.item-main
  .item-main__box
    .item-main__box__pic
      .item-main__box__pic__picture
        %label.label 出品画像 必須
      .item-main__box__pic__picture__upload-text 最大10枚までアップロードできます。
      .item-main__box__pic__picture__upload-form 
        %input.gazoutoukou{:accept => "image/png,image/jpeg", :autocomplete => "off", :multiple => "multiple", :style => "display:none", :tabindex => "-1", :type => "file"}/
        %svg.sc-hkbPbT.lodtkW{"aria-hidden" => "true", :fill => "#222222", "fill-rule" => "evenodd", :height => "24", :viewbox => "0 0 24 24", :width => "24"}
        %path{:d => "M19.3,5H16.73l-.8-1.61A.7.7,0,0,0,15.3,3H8.7a.7.7,0,0,0-.63.39L7.27,5H4.7A2.7,2.7,0,0,0,2,7.7V18.3A2.7,2.7,0,0,0,4.7,21H19.3A2.7,2.7,0,0,0,22,18.3V7.7A2.7,2.7,0,0,0,19.3,5ZM12,17.3A4.3,4.3,0,1,1,16.3,13,4.31,4.31,0,0,1,12,17.3Z"}
        %p.sc-hcnlBt.kuVoVA
        ドラッグアンドドロップ
        %br>/
        またはクリックしてファイルをアップロード
      = form_for @item do |f|
        .item-main__box__pic-2
          .item-main__box__pic-2__syouheimeinohako
            .item-main__box__pic-2__syouheimeinohako__name 商品名 必須
            .item-main__box__pic-2__syouheimeinohako__text-box
              = f.text_field :name, class: "syouhinmei", placeholder: "40文字まで"
              .item-main__box__pic-2__setsumei
                .item-main__box__pic-2__setsumei__bun 商品の説明 必須
                .item-main__box__pic-2__setsumei__text
                  = f.text_area :description, class:"syouhinsetumei", placeholder: "商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。\n          ", rows: "7"
        .item-main__box__pic-3
          .item-main__box__pic-3__syouhinosyousai 商品詳細 必須
          .item-main__box__pic-3__category
            .item-main__box__pic-3__category__kategory カテゴリー 必須
            .selctbox
              = f.collection_select :category_id, Category.all, :id, :name, include_blank: "選択してください"
          .item-main__box__pic-3__category 
            .item-main__box__pic-3__category__kategory ブランド 任意
            .selctbox 
              = f.fields_for :brand do |brand|
                = brand.text_field :name, placeholder: "例 （シャネル）"
          .item-main__box__pic-3__category
            .item-main__box__pic-3__category__kategory 商品の状態 
            .selctbox 
              = f.select :status,[["新品、未使用", 1],["未使用に近い", 2],["目立った傷や汚れなし", 3],["やや傷や汚れあり", 4],["傷や汚れあり", 5],["全体的に状態が悪い", 6]], { include_blank: "選択してください"}
        .item-main__box__pic-4
          .item-main__box__pic-4__haisounituite 配送料について
          .item-main__box__pic-4__hutan  
            .item-main__box__pic-4__hutan__bun 配送料に負担  
            .selctbox 
              = f.select :cost,[["着払い(購入者負担)", 1],["送料込み(出品者負担)", 2]], { include_blank: "選択してください"}
          .item-main__box__pic-4__hutannnado  
            .item-main__box__pic-4__hutan__bun 発送元の地域 必須
            .selctbox 
              = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt:"選択してください"}, {class:""}
              -# = f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name, include_blank: "選択してください"
          .item-main__box__pic-4__hutannnado  
            .item-main__box__pic-4__hutan__bun 発送までの日数 必須
            .selctbox 
              = f.select :days,[["1~2日で発送", 1],["2~3日で発送", 2],["4~7日で発送", 3]], { include_blank: "選択してください"}
        .item-main__box__pic-5
          .item-main__box__pic-5__kakaku 価格（¥300〜9,999,999）
          .item-main__box__pic-5__price
            .item-main__box__pic-5__price__hanbaikakaku 販売価格 必須
            .item-main__box__pic-5__price__nyuryoku 
              = f.number_field :price
            #image-box
              = f.fields_for :images do |i|
                .js-file_group{"data-index": "#{i.index}"}
                  = i.file_field :url, class: 'js-file'
                  %br
                  %span.js-remove
                    削除
              = f.submit
        -#   .item-main__box__pic-5__tesuuryou 販売手数料 (10%)
        -#   .item-main__box__pic-5__tesuuryou 販売利益
        -# .item-main__box__pic-6
        -#   .item-main__box__pic-6__syuppin 出品する
        -#   .item-main__box__pic-6__sitagaki 下書きに保存
        -#   .item-main__box__pic-6__modoru 戻る

-# .item-header
-#   = image_tag "/material/logo/logo-white.png"  , size: "270x60"
-# .item-main
-#   .item-main__box
-#     .item-main__box__pic
-#       .item-main__box__pic__picture
-#         %label.label 出品画像 必須
-#       .item-main__box__pic__picture__upload-text 最大10枚までアップロードできます。
-#       .item-main__box__pic__picture__upload-form 
-#         %input.gazoutoukou{:accept => "image/png,image/jpeg", :autocomplete => "off", :multiple => "multiple", :style => "display:none", :tabindex => "-1", :type => "file"}/
-#         %svg.sc-hkbPbT.lodtkW{"aria-hidden" => "true", :fill => "#222222", "fill-rule" => "evenodd", :height => "24", :viewbox => "0 0 24 24", :width => "24"}
-#         %path{:d => "M19.3,5H16.73l-.8-1.61A.7.7,0,0,0,15.3,3H8.7a.7.7,0,0,0-.63.39L7.27,5H4.7A2.7,2.7,0,0,0,2,7.7V18.3A2.7,2.7,0,0,0,4.7,21H19.3A2.7,2.7,0,0,0,22,18.3V7.7A2.7,2.7,0,0,0,19.3,5ZM12,17.3A4.3,4.3,0,1,1,16.3,13,4.31,4.31,0,0,1,12,17.3Z"}
-#         %p.sc-hcnlBt.kuVoVA
-#         ドラッグアンドドロップ
-#         %br>/
-#         またはクリックしてファイルをアップロード
-#       .item-main__box__pic-2
-#         .item-main__box__pic-2__syouheimeinohako
-#           .item-main__box__pic-2__syouheimeinohako__name 商品名 必須
-#           .item-main__box__pic-2__syouheimeinohako__text-box
-#             %input.syouhinmei{:autocomplete => "off", :name => "name", :placeholder => "40文字まで", :type => "text", :value => ""}/  
-#         .item-main__box__pic-2__setsumei
-#           .item-main__box__pic-2__setsumei__bun 商品の説明 必須
-#           .item-main__box__pic-2__setsumei__text
-#             %textarea.syouhinsetumei{:name => "description", :placeholder => "商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。\n          ", :rows => "7"}
-#       .item-main__box__pic-3
-#         .item-main__box__pic-3__syouhinosyousai 商品詳細 必須
-#         .item-main__box__pic-3__category
-#           .item-main__box__pic-3__category__kategory カテゴリー 必須
-#           .selctbox 
-#             %select.selection{:name => "categoryId"}
-#               %option{"aria-selected" => "true", :label => "選択してください", :selected => "selected", :value => ""} 選択してください
-#               %option{"aria-selected" => "false", :label => "レディース", :value => "1"} レディース
-#               %option{"aria-selected" => "false", :label => "メンズ", :value => "2"} メンズ
-#               %option{"aria-selected" => "false", :label => "ベビー・キッズ", :value => "3"} ベビー・キッズ
-#               %option{"aria-selected" => "false", :label => "インテリア・住まい・小物", :value => "4"} インテリア・住まい・小物
-#               %option{"aria-selected" => "false", :label => "本・音楽・ゲーム", :value => "5"} 本・音楽・ゲーム
-#               %option{"aria-selected" => "false", :label => "おもちゃ・ホビー・グッズ", :value => "1328"} おもちゃ・ホビー・グッズ
-#               %option{"aria-selected" => "false", :label => "コスメ・香水・美容", :value => "6"} コスメ・香水・美容
-#               %option{"aria-selected" => "false", :label => "家電・スマホ・カメラ", :value => "7"} 家電・スマホ・カメラ
-#               %option{"aria-selected" => "false", :label => "スポーツ・レジャー", :value => "8"} スポーツ・レジャー
-#               %option{"aria-selected" => "false", :label => "ハンドメイド", :value => "9"} ハンドメイド
-#               %option{"aria-selected" => "false", :label => "チケット", :value => "1027"} チケット
-#               %option{"aria-selected" => "false", :label => "自動車・オートバイ", :value => "1318"} 自動車・オートバイ
-#               %option{"aria-selected" => "false", :label => "その他", :value => "10"} その他
-#         .item-main__box__pic-3__category 
-#           .item-main__box__pic-3__category__kategory ブランド 任意
-#           .selctbox 
-#             %input.syouhinmei{:autocomplete => "off", :name => "name", :placeholder => "例 （シャネル）", :type => "text", :value => ""}/ 
-#         .item-main__box__pic-3__category
-#           .item-main__box__pic-3__category__kategory 商品の状態 
-#           .selctbox 
-#             %select.selection{:name => "itemCondition"}
-#               %option{"aria-selected" => "true", :label => "選択してください", :selected => "selected", :value => ""} 選択してください
-#               %option{"aria-selected" => "false", :label => "新品、未使用", :value => "1"} 新品、未使用
-#               %option{"aria-selected" => "false", :label => "未使用に近い", :value => "2"} 未使用に近い
-#               %option{"aria-selected" => "false", :label => "目立った傷や汚れなし", :value => "3"} 目立った傷や汚れなし
-#               %option{"aria-selected" => "false", :label => "やや傷や汚れあり", :value => "4"} やや傷や汚れあり
-#               %option{"aria-selected" => "false", :label => "傷や汚れあり", :value => "5"} 傷や汚れあり
-#               %option{"aria-selected" => "false", :label => "全体的に状態が悪い", :value => "6"} 全体的に状態が悪い

-#       .item-main__box__pic-4
-#         .item-main__box__pic-4__haisounituite 配送料について
-#         .item-main__box__pic-4__hutan  
-#           .item-main__box__pic-4__hutan__bun 配送料に負担  
-#           .selctbox 
-#             %select.selection{:name => "shippingPayer"}
-#               %option{"aria-selected" => "true", :label => "選択してください", :selected => "selected", :value => ""} 選択してください
-#               %option{"aria-selected" => "false", :label => "送料込み(出品者負担)", :value => "2"} 送料込み(出品者負担)
-#               %option{"aria-selected" => "false", :label => "着払い(購入者負担)", :value => "1"} 着払い(購入者負担)
-#             -# %svg{"aria-hidden" => "true", :fill => "#888888", "fill-rule" => "evenodd", :height => "24", :viewbox => "0 0 24 24", :width => "24"} 矢印の位置を決める
-#         .item-main__box__pic-4__hutannnado  
-#           .item-main__box__pic-4__hutan__bun 発送元の地域 必須
-#           .selctbox 
-#             %select.selection{:name => "shippingFromArea"}
-#               %option{"aria-selected" => "true", :label => "選択してください", :selected => "selected", :value => ""} 選択してください
-#               %option{"aria-selected" => "false", :label => "北海道", :value => "1"} 北海道
-#               %option{"aria-selected" => "false", :label => "青森県", :value => "2"} 青森県
-#               %option{"aria-selected" => "false", :label => "岩手県", :value => "3"} 岩手県
-#               %option{"aria-selected" => "false", :label => "宮城県", :value => "4"} 宮城県
-#               %option{"aria-selected" => "false", :label => "秋田県", :value => "5"} 秋田県
-#               %option{"aria-selected" => "false", :label => "山形県", :value => "6"} 山形県
-#               %option{"aria-selected" => "false", :label => "福島県", :value => "7"} 福島県
-#               %option{"aria-selected" => "false", :label => "茨城県", :value => "8"} 茨城県
-#               %option{"aria-selected" => "false", :label => "栃木県", :value => "9"} 栃木県
-#               %option{"aria-selected" => "false", :label => "群馬県", :value => "10"} 群馬県
-#               %option{"aria-selected" => "false", :label => "埼玉県", :value => "11"} 埼玉県
-#               %option{"aria-selected" => "false", :label => "千葉県", :value => "12"} 千葉県
-#               %option{"aria-selected" => "false", :label => "東京都", :value => "13"} 東京都
-#               %option{"aria-selected" => "false", :label => "神奈川県", :value => "14"} 神奈川県
-#               %option{"aria-selected" => "false", :label => "新潟県", :value => "15"} 新潟県
-#               %option{"aria-selected" => "false", :label => "富山県", :value => "16"} 富山県
-#               %option{"aria-selected" => "false", :label => "石川県", :value => "17"} 石川県
-#               %option{"aria-selected" => "false", :label => "福井県", :value => "18"} 福井県
-#               %option{"aria-selected" => "false", :label => "山梨県", :value => "19"} 山梨県
-#               %option{"aria-selected" => "false", :label => "長野県", :value => "20"} 長野県
-#               %option{"aria-selected" => "false", :label => "岐阜県", :value => "21"} 岐阜県
-#               %option{"aria-selected" => "false", :label => "静岡県", :value => "22"} 静岡県
-#               %option{"aria-selected" => "false", :label => "愛知県", :value => "23"} 愛知県
-#               %option{"aria-selected" => "false", :label => "三重県", :value => "24"} 三重県
-#               %option{"aria-selected" => "false", :label => "滋賀県", :value => "25"} 滋賀県
-#               %option{"aria-selected" => "false", :label => "京都府", :value => "26"} 京都府
-#               %option{"aria-selected" => "false", :label => "大阪府", :value => "27"} 大阪府
-#               %option{"aria-selected" => "false", :label => "兵庫県", :value => "28"} 兵庫県
-#               %option{"aria-selected" => "false", :label => "奈良県", :value => "29"} 奈良県
-#               %option{"aria-selected" => "false", :label => "和歌山県", :value => "30"} 和歌山県
-#               %option{"aria-selected" => "false", :label => "鳥取県", :value => "31"} 鳥取県
-#               %option{"aria-selected" => "false", :label => "島根県", :value => "32"} 島根県
-#               %option{"aria-selected" => "false", :label => "岡山県", :value => "33"} 岡山県
-#               %option{"aria-selected" => "false", :label => "広島県", :value => "34"} 広島県
-#               %option{"aria-selected" => "false", :label => "山口県", :value => "35"} 山口県
-#               %option{"aria-selected" => "false", :label => "徳島県", :value => "36"} 徳島県
-#               %option{"aria-selected" => "false", :label => "香川県", :value => "37"} 香川県
-#               %option{"aria-selected" => "false", :label => "愛媛県", :value => "38"} 愛媛県
-#               %option{"aria-selected" => "false", :label => "高知県", :value => "39"} 高知県
-#               %option{"aria-selected" => "false", :label => "福岡県", :value => "40"} 福岡県
-#               %option{"aria-selected" => "false", :label => "佐賀県", :value => "41"} 佐賀県
-#               %option{"aria-selected" => "false", :label => "長崎県", :value => "42"} 長崎県
-#               %option{"aria-selected" => "false", :label => "熊本県", :value => "43"} 熊本県
-#               %option{"aria-selected" => "false", :label => "大分県", :value => "44"} 大分県
-#               %option{"aria-selected" => "false", :label => "宮崎県", :value => "45"} 宮崎県
-#               %option{"aria-selected" => "false", :label => "鹿児島県", :value => "46"} 鹿児島県
-#               %option{"aria-selected" => "false", :label => "沖縄県", :value => "47"} 沖縄県
-#               %option{"aria-selected" => "false", :label => "未定", :value => "99"} 未定
-#         .item-main__box__pic-4__hutannnado  
-#           .item-main__box__pic-4__hutan__bun 発送までの日数 必須
-#           .selctbox 
-#             %select.selection{:name => "shippingDuration"}
-#               %option{"aria-selected" => "true", :label => "選択してください", :selected => "selected", :value => ""} 選択してください
-#               %option{"aria-selected" => "false", :label => "1~2日で発送", :value => "1"} 1~2日で発送
-#               %option{"aria-selected" => "false", :label => "2~3日で発送", :value => "2"} 2~3日で発送
-#               %option{"aria-selected" => "false", :label => "4~7日で発送", :value => "3"} 4~7日で発送
-#       .item-main__box__pic-5
-#         .item-main__box__pic-5__kakaku 価格（¥300〜9,999,999）
-#         .item-main__box__pic-5__price
-#           .item-main__box__pic-5__price__hanbaikakaku 販売価格 必須
-#           .item-main__box__pic-5__price__nyuryoku 
-#             %input.bbw{:autocomplete => "off", :name => "price", :placeholder => "0", :type => "number", :value => ""}/
-#         .item-main__box__pic-5__tesuuryou 販売手数料 (10%)
-#         .item-main__box__pic-5__tesuuryou 販売利益
-#       .item-main__box__pic-6
-#         .item-main__box__pic-6__syuppin 出品する
-#         .item-main__box__pic-6__sitagaki 下書きに保存
-#         .item-main__box__pic-6__modoru 戻る
-# .item-new-footer
