= render partial: 'items/items-header'
= form_with model: @item, local: true do |f|
  .item-main
    .item-main__box
      .item-main__box__title
        出品画像
        %span{class:"require"}
          必須
      .item-main__box__text
        最大10枚までアップロードできます。
      .flexbox
        .item-main__box__preview
        %label{id: "image-wrapper", action: request.path}
          .item-main__box__image-field
          %i{class: "fas fa-camera"}
          .item-main__box__image-field__text
            ドラッグアンドドロップ
            %br
            またはクリックしてファイルをアップロード
        = f.fields_for :images do |i|
          = i.file_field :image, {class: "file-field"}
        = f.fields_for :images do |i|
          = i.file_field :image, {class: "file-field"}
        
    .item-main__box
      .item-main__box__title
        商品名
        %span{class:"require"}
          必須
      = f.text_field :name, {class: "item-main__box__input-text", placeholder: "40文字まで"}
      .item-main__box__title.spacing
        商品の説明
        %span{class:"require"}
          必須
      = f.text_area :description, class:"item-main__box__input-textarea", placeholder: "商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。\n          ", rows: "7"
    .item-main__box
      .item-main__box__subtitle
        商品詳細
      .item-main__box__title
        カテゴリー
        %span{class:"require"}
          必須
      = f.collection_select :category_id, Category.all, :id, :name, include_blank: "選択してください"
      .item-main__box__title.spacing
        ブランド
        %span{class: "any"}
          任意
      = f.fields_for :brand do |brand|
        = brand.text_field :name, placeholder: "例 （シャネル）"
      .item-main__box__title.spacing
        商品の状態
        %span{class:"require"}
          必須
      = f.select :status,[["新品、未使用", 1],["未使用に近い", 2],["目立った傷や汚れなし", 3],["やや傷や汚れあり", 4],["傷や汚れあり", 5],["全体的に状態が悪い", 6]], { include_blank: "選択してください"}
    .item-main__box
      .item-main__box__subtitle
        配送料について
      .item-main__box__title
        配送料の負担
        %span{class:"require"}
          必須
      = f.select :cost,[["着払い(購入者負担)", 1],["送料込み(出品者負担)", 2]], { include_blank: "選択してください"}
      .item-main__box__title.spacing
        発送元の地域
        %span{class:"require"}
          必須
      = f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name, include_blank: "選択してください"
      .item-main__box__title.spacing
        発送までの日数
        %span{class:"require"}
          必須
      = f.select :days,[["1~2日で発送", 1],["2~3日で発送", 2],["4~7日で発送", 3]], { include_blank: "選択してください"}
    .item-main__box
      .item-main__box__subtitle
        価格（¥300〜9,999,999）
      .item-main__box__title.float-left
        販売価格
        %span{class:"require"}
          必須
      .item-main__box__input-price.float-right
        ¥
        = f.text_field :price, {class: "item-main__box__input-price__input", placeholder: 0}
      .spacing
      .spacing
      = f.submit "出品する", {class:"item-main__box__submit"}
= render "layouts/footer"
