= render "layouts/header"
.items
  = render "items-main"

  = form_with(model: [@item, @comment], local: true) do |form|

    = form.text_area :text ,class: "items-comment--text" 
    .realmessage
      相手のことを考え丁寧なコメントを心がけましょう。
      %br
      不快な言葉遣いなどは利用制限や退会処分となる事があります。
    %button.items-comment--btn{type: "submit"}
      %i.fa.fa-comment
      コメントする

    .comments
    %h4 ＜コメント一覧＞
    - if @comments
      - @comments.each do |comment|
        %p
          %strong
            = link_to comment.user.nickname, "/users/#{comment.user_id}", class: "user-name"
            ：
            = comment.text

= render "items-social-media"
.items-sub
  .items-sub--main
    .items-sub--main__header
      sampleさんのその他の出品
    .items-sub--main__production
      = render "items-sub"
      = render "items-sub"
      = render "items-sub"
    .items-sub--main__production
      = render "items-sub"
      = render "items-sub"
      = render "items-sub"
  .items-sub--main
    .items-sub--main__header
      ユニクロのTシャツ/カットソー(半袖/袖なし) その他の商品
    .items-sub--main__production
      = render "items-sub"
      = render "items-sub"
      = render "items-sub"
    .items-sub--main__production
      = render "items-sub"
      = render "items-sub"
      = render "items-sub"
= render "items-link"
= render "layouts/footer"

    
  
