= render 'layouts/header'

- breadcrumb :user_card, current_user
= render "layouts/breadcrumbs"

.show-card-wrapper
  = render "layouts/content"
  .card-wrapper2
    .card-wrapper2__title
      支払い方法
    .card-wrapper2__list
      .card-wrapper2__list__title
        クレジットカード一覧
      .card-wrapper2__list__frame
        .card-wrapper2__info
          .card-wrapper2__info__brand
            = image_tag "cards/#{@card_src}", class: "credit_card_info__brand__img", alt: @card_brand
          .card-wrapper2__info__numbers
            .number
              = "**** **** **** " + @customer_card.last4
            .expiration-date__title
              有効期限
            .expiration_date__info
              = @exp_month + "月 / " + @exp_year+ "年 " 
        .destroy__function
          .destroy__function__link
            = link_to card_path, method: :delete, class: "destroy__btn" do 
              削除する
      .payment-details
        = link_to "支払い方法について >", "", class: "payment-details__btn"
= render 'layouts/footer'