%header.pc-header
  .header--inner
    .header--inner__main
      %h1.header--inner__main__icon
        = link_to root_path do
          = image_tag "/material/logo/logo.png" 
      .header--inner__main__search-box
        %form
          %input{ placeholder:'キーワードから探す' }
          %button 
            .search-box__icon
              = image_tag "/material/icon/icon-search 1.png" 
    .header--inner__nav
      %ul.header--inner__nav__left
        %li.header--inner__nav__left--category
          カテゴリー
        %li.header--inner__nav__left--brand
          ブランド
      %ul.header--inner__nav__right
        -if user_signed_in?
          %li
            = link_to  user_path(current_user.id) do
              マイページ
        -else
          %li.header--inner__nav__right--login
            = link_to  new_user_session_path do
              ログイン
          %li.header--inner__nav__right--registration
            = link_to new_user_registration_path do
              新規会員登録